<div style="background-color: var(--bodyBackColor)">
  <div class="topBgImage">
    <span
        (click)="goBack()"
        class="material-icons"
        style="color: var(--whiteColor); font-size: 24px;margin-left:15px"
      >
        arrow_back
      </span>
    <div class="rowAlignCenter" style="padding: 20px;padding-left: 12px;">
      <ion-text
        class="whiteColor18SemiBold ellipseText"
        style="margin-left: 10px; -webkit-line-clamp: 1; flex: 1"
      >
        {{ header }}
      </ion-text>
    </div>
  </div>
</div>
