.whiteColor14Medium {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 500;
}

.whiteColor15Medium {
  color: var(--whiteColor);
  font-size: 15px;
  font-weight: 500;
}

.whiteColor16Medium {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 500;
}

.whiteColor17Medium {
  color: var(--whiteColor);
  font-size: 17px;
  font-weight: 500;
}

.whiteColor18Medium {
  color: var(--whiteColor);
  font-size: 18px;
  font-weight: 500;
}

.whiteColor30Medium {
  color: var(--whiteColor);
  font-size: 30px;
  font-weight: 500;
}

.whiteColor14SemiBold {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 600;
}

.whiteColor16SemiBold {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 600;
}

.whiteColor18SemiBold {
  color: var(--whiteColor);
  font-size: 18px;
  font-weight: 600;
}

.whiteColor22SemiBold {
  color: var(--whiteColor);
  font-size: 22px;
  font-weight: 600;
}

.whiteColor24SemiBold {
  color: var(--whiteColor);
  font-size: 24px;
  font-weight: 600;
}

.blackColor14Regular {
  color: var(--blackColor);
  font-size: 14px;
  font-weight: 400;
}

.blackColor14Medium {
  color: var(--blackColor);
  font-size: 14px;
  font-weight: 500;
}

.blackColor15Medium {
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 500;
}

.blackColor16Medium {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 500;
}

.blackColor13Medium {
  color: var(--blackColor);
  font-size: 13px;
  font-weight: 500;
}

.blackColor12SemiBold {
  color: var(--blackColor);
  font-size: 12px;
  font-weight: 600;
}

.blackColor15SemiBold {
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 600;
}

.blackColor16SemiBold {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 600;
}

.blackColor16SemiBoldWhite {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 600;
}

.blackColor18SemiBold {
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 600;
}

.primaryColor14Medium {
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 500;
}

.primaryColor16Medium {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 500;
}

.primaryColor18Medium {
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 500;
}

.primaryColor20Medium {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 500;
}

.primaryColor16SemiBold {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 600;
}

.primaryColor13SemiBold {
  color: var(--primaryColor);
  font-size: 13px;
  font-weight: 600;
}

.primaryColor18SemiBold {
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 600;
}

.grayColor12Medium {
  color: var(--grayColor);
  font-size: 12px;
  font-weight: 500;
}

.grayColor13Medium {
  color: var(--grayColor);
  font-size: 13px;
  font-weight: 500;
}

.grayColor14Medium {
  color: var(--grayColor);
  font-size: 14px;
  font-weight: 500;
}

.grayColor15Medium {
  color: var(--grayColor);
  font-size: 15px;
  font-weight: 500;
}

.grayColor16Medium {
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 500;
}

.grayColor17Medium {
  color: var(--grayColor);
  font-size: 17px;
  font-weight: 500;
}

.grayColor18Medium {
  color: var(--grayColor);
  font-size: 18px;
  font-weight: 500;
}

.grayColor12SemiBold {
  color: var(--grayColor);
  font-size: 12px;
  font-weight: 600;
}

.grayColor14SemiBold {
  color: var(--grayColor);
  font-size: 14px;
  font-weight: 600;
}

.grayColor16SemiBold {
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 600;
}

.grayColor13SemiBold {
  color: var(--grayColor);
  font-size: 13px;
  font-weight: 600;
}

.lightGrayColor16Medium {
  color: var(--lightGrayColor);
  font-size: 16px;
  font-weight: 500;
}

.redColor16Medium {
  color: var(--redColor);
  font-size: 16px;
  font-weight: 500;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: #ffffff !important; /* or #ffffff */
}

