:root {
  --ion-color-primary: #9672FB;
  --primaryColor: #9672FB;
  --blackColor: #333333;
  --whiteColor: #FFFFFF;
  --grayColor: #949494;
  --lightGrayColor: #B4B4B4;
  --extraLightGrayColor: #EDEDED;
  --bodyBackColor: #F5F5F5;
  --purpleColor: #A28FD8;
  --greenColor: #39BDA8;
  --pitchColor: #FC8C8C;
  --pinkColor: #D88CFC;
  --woodenColor: #DA9887;
  --lightWoodenColor: #E5D3C4;
  --parrotColor: #66C390;
  --lightParrotColor: #BADACA;
  --tomatoColor: #E5716E;
  --lightTomatoColor: #DFB3B5;
  --blueColor: #6982E0;
  --lightBlueColor: #DAE2E8;
  --yellowColor: #D3BD46;
  --lightYellowColor: #DAE2E8;
  --darkBlueColor: #1E4799;
  --darkGreenColor: #1E996D;
  --redColor: #EF1717;
}

.ion-color-primaryColor {
  --ion-color-base: var(--primaryColor);
}

.ion-color-blackColor {
  --ion-color-base: var(--blackColor);
}

.ion-color-whiteColor {
  --ion-color-base: var(--whiteColor);
}

.ion-color-grayColor {
  --ion-color-base: var(--grayColor);
}

.ion-color-lightGrayColor {
  --ion-color-base: var(--lightGrayColor);
}

.ion-color-extraLightGrayColor {
  --ion-color-base: var(--extraLightGrayColor);
}

.ion-color-bodyBackColor {
  --ion-color-base: var(--bodyBackColor);
}

.ion-color-purpleColor {
  --ion-color-base: var(--purpleColor);
}

.ion-color-greenColor {
  --ion-color-base: var(--greenColor);
}

.ion-color-pitchColor {
  --ion-color-base: var(--pitchColor);
}

.ion-color-pinkColor {
  --ion-color-base: var(--pinkColor);
}

.ion-color-woodenColor {
  --ion-color-base: var(--woodenColor);
}

.ion-color-lightWoodenColor {
  --ion-color-base: var(--lightWoodenColor);
}

.ion-color-parrotColor {
  --ion-color-base: var(--parrotColor);
}

.ion-color-lightParrotColor {
  --ion-color-base: var(--lightParrotColor);
}

.ion-color-tomatoColor {
  --ion-color-base: var(--tomatoColor);
}

.ion-color-lightTomatoColor {
  --ion-color-base: var(--lightTomatoColor);
}

.ion-color-blueColor {
  --ion-color-base: var(--blueColor);
}

.ion-color-lightBlueColor {
  --ion-color-base: var(--lightBlueColor);
}

.ion-color-yellowColor {
  --ion-color-base: var(--yellowColor);
}

.ion-color-lightYellowColor {
  --ion-color-base: var(--lightYellowColor);
}

.ion-color-darkBlueColor {
  --ion-color-base: var(--darkBlueColor);
}

.ion-color-darkGreenColor {
  --ion-color-base: var(--darkGreenColor);
}

.ion-color-redColor {
  --ion-color-base: var(--redColor);
}
