<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="start"  *ngIf="loginUserData!=null">
      <ion-content>
        <div class="infoSection">
          <img class="userPhoto" [src]="getCover()" onError="this.src='assets/imgs/dhanvrikshLogo_login.png'" alt="">
          <p class="userName"> {{loginUserData.firstName +" "+loginUserData.lastName}}</p>
        </div>

        <ion-list id="inbox-list" class="ion-no-padding">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="onPageChange(p,i)" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" name="{{p.icn}}" [class.active]="selectedIndex == i"></ion-icon>
              <ion-label>{{ getTranslate(p.title) }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" (click)="logout()" *ngIf="resourceData!=null">
            <ion-item routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" name="power-outline"></ion-icon>
              <ion-label> {{resourceKeyValue('Menu_lbl_logout')}} </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>