.circle15 {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
  }
  
  .card {
    background-color: var(--whiteColor);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    margin: 0 20px;
    margin-bottom: 20px;
  }
  
  ion-popover {
    --background: var(--whiteColor);
    --width: 200px;
    --max-width: 200px;
    --offset-y: -20px;
    --offset-x: -10px;
  }
  
  .sendButton {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fffafa;
  }
  
  .attachmentButton {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--whiteColor);
  }
  
  .fieldWrapper {
    background-color: var(--whiteColor);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    padding: 13px 0;
  }
  
  ion-input {
    --placeholder-color: var(--grayColor);
    --placeholder-opacity: 1;
    flex: 1;
    margin: 0 15px;
  }
  